In [32]:
# import list from assignment 1 plus some extra
import os
import datetime
import re
import pandas as pd

import requests
import time
from bs4 import BeautifulSoup
from collections import defaultdict, Counter
import random
import string

import shutil
import re

punctuation = string.punctuation

# Option 1: Pull by Category of Listing

In [2]:
url = "https://airbnb19.p.rapidapi.com/api/v1/getCategory"

headers = {
	"x-rapidapi-key": "ebcc8ac877msh5ba0e8f05396c83p12430djsnc2c536d2b5ba",
	"x-rapidapi-host": "airbnb19.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

In [ ]:
soup = BeautifulSoup(response.text, 'html.parser')

soup = str(soup).split("},{")

group = []

for item in soup:
    title = re.findall('"title":".+"', item)
    group.append(title)

In [30]:
split = []
for item in group:
    cat = re.sub('"title":"','', str(item))
    cat2 = re.sub('","image":.+', '',cat)
    split.append(cat2)

categories = []
for item in split:
    c = re.sub(re.escape(punctuation), '', item)
    c = re.sub('\\[\'', '', c)
    categories.append(c)

In [33]:
cat = pd.DataFrame(categories)
cat

                     0
0               Cabins
1        Amazing views
2           Tiny homes
3           Beachfront
4             Tropical
..                 ...
56  Casas particulares
57              Minsus
58             Campers
59                Lake
60               Beach

[61 rows x 1 columns]

# Option 2: Pull by Location (can add property type here if wanted)

In [ ]:
import requests

url = "https://airbnb19.p.rapidapi.com/api/v1/searchPropertyByLocationV2"

querystring = {"location":"chicago","totalRecords":"-96","currency":"USD","adults":"1"}

headers = {
	"x-rapidapi-key": "ebcc8ac877msh5ba0e8f05396c83p12430djsnc2c536d2b5ba",
	"x-rapidapi-host": "airbnb19.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())